body {
    background-color: #C5D1EB;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #246eb9;
    border-radius: 10px;
}

#headerName {
    display: flex;
    align-items: center;
    margin: 10px;
}

#headerPaths {
    display: flex;
    align-items: center;
}

.links {
    margin: 10px;
    text-decoration: none;
    color: black;
}

#mainBody {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
}